/* Стили изображения в центре */
.center-image {
    width: 500px; /* Ширина изображения */
    height: auto; /* Сохраняет соотношение сторон изображения */
    display: block;
    margin: 0 auto; /* Центрирует изображение */
    border-radius: 5px; /* Добавляет скругление к углам */
}

/* Стили для иконок */
.icon-image {
    width: 15px; /* Ширина иконок */
    height: auto; /* Сохраняет соотношение сторон иконок */
}

/* Стили формы */
.form-label {
    font-weight: normal;
    text-align: left;
}

.form-control {
        width: 500px; /* Уменьшает ширину полей */
        margin: 0 auto; /* Центрирует поля */
        font-size: 0.9rem; /* Оставляет предыдущий стиль шрифта */
        margin-bottom: 0.5rem; /* Оставляет предыдущий отступ */
        background-color: #f0f0f0;
}
/* Стили для текстового поля */
#message {
    max-height: 100px; /* Устанавливает максимальную высоту текстового поля на 100 пикселей */
    resize: none; /* Отключает изменение размера текстового поля */
}
/* Стили для кнопки отправки */
#contact-form button {
    width: 30% !important;
    height: 40px; /* Установите высоту кнопки */
    font-size: 0.9rem; /* Установите размер шрифта */
    margin: 0 auto; /* Центрируйте кнопку */
    border-radius: 100px;
}
